<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/about.css">
  <title>About</title>
</head>
<body>
  <div class='center'>
  <h1>About</h1>
  <p>Our website is all about the many-splendored creatures called cats.  We feel that <br>
     there aren't enough sites about cats on the internet.</p>
  <h3>Team Members</h3>
  <h4>Sylvester J. Pussycat Sr.<h4>
    <img
     src="https://lh3.googleusercontent.com/uMQjcVKA7x7cEho-m5mVMKiVI4QxS8_tYuRWwaj75NMcMbFFGvogyIufDnMl0MPYREhPcI6Q7Z7a0L5K_M2aXZmIUbukaBribPUcOv5fdGbhQ1X_3J1i69NRbwJgXRhU3pklIq2P8YPPgTQYJ8a_a1tYq8Tam--88fqH1K9hx6ym9X0UzutaVn9vdzg7FvxS2J0eTipqQ4CNnlySYQVN42yVqWHxOKUb8RMkQakzli_A6cBjgV6L475Xe-6l09IAhqK0Tt1zNoa1DEceIrBpmTLCIwdS4l-hg9xJTg6dhBTobcNSadTFV3GSmbHnSaJPYOz9MeAMh77h3Zf2RTHfma6ZtXD63Ym6cHnDva6oyR4_cxm_AyVImzqD_nFZQzzPSA5Mg34gnNDShyO-r-q-FErXGbP8c-fIOO_669zKjOO62ac765eBBaIpM9PbKWDgIibr7kr9zo9VQ_Y2rSwDmoarc7AmZ6OqPGQVeKVsugj2v78-wMQjDp3q5Ww8sJicOc_-w9MnnUCZcwXar9d071QiBmlWZNXJxh8bCT2ZnRzrbr1QkI-i8ze71UnGPZtmG2CW4SHjJKNuxBDOIQ_y56PGUGu5Ev-tTeQU9qs=w315-h391-no" alt="Sylvester the Cat">
    <p>Sylvester (pronounced "Thilvethter") is our resident speech expert<br>
       (pronounced "thpeech exthpert").  When he isn't chasing Tweetie Bird<br>
       he might be found "thlurping down hith thoup." (translation: sluring down his soup.)</p>
    <p>
    </div>
</body>
</html>
